Vamos fazer juntos o primeiro "*Alô, mundo!*" em python:

In [ ]:
print("Alô, mundo!")
print('Alô, mundo!')

Alô, mundo!
Alô, mundo!

Reparem que aspas duplas e simples são equivalentes.

**Tipos de dados:**

*Numéricos:*

In [ ]:
x = 3
print(type(x))
# Mostra "<class 'int'>"
print(x)
# Mostra "3"
print(x + 1)
# Adiciona e mostra "4"
print(x - 1)
# Subtrai e mostra "2"
print(x * 2)
# Multiplica e mostra "6"
print(x ** 2)
# Faz a exponenciação e mostra "9"
x += 1
print(x)
# Mostra "4"
x *= 2
print(x)
# Mostra "8"
y = 2.5
print(type(y))
# Mostra "<class 'float'>"
print(y, y + 1, y * 2, y ** 2)
# Mostra "2.5 3.5 5.0 6.25"

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

**Exercício:**
Resolva uma equação de 2º grau na forma a.x² + b.x + c = 0.
Lembre-se que:
```
delta = b² - 4.a.c,
x1 = (-b + raiz(delta))/(2.a) e
x2 = (-b - raiz(delta))/(2.a)
```

In [ ]:
import math
a = float(input("Entre com o valor de A:"))
b = float(input("Entre com o valor de B:"))
c = float(input("Entre com o valor de C:"))
delta = b**2 - 4*a*c
x1 = (-b + math.sqrt(delta)) / (2*a)
x2 = (-b - math.sqrt(delta)) / (2*a)
print("Raízes: ", x1, " e ", x2)

Entre com os valores de a, b e c, respectivamente:
2
9
4
Raízes:  -0.5  e  -4.0

*Lógicos:*

In [ ]:
t = True
f = False
print(type(t))
# Mostra "<class 'bool'>"
print(t and f)
# Trabalha o operador AND e mostra "False"
print(t or f)
# Trabalha o operador OR e mostra "True"
print(not t)
# Trabalha o operador NOT e mostra "False"
print(t != f)
# Trabalha o operador Diferença e mostra "True"
print(t == f)
# Trabalha o operador Igualdade e mostra "False"

<class 'bool'>
False
True
False
True
False

*Strings:*

In [ ]:
hello = 'hello'
# String literais se usa aspa simples
world = "world"
# ou aspas dupla indiferentemente
print(hello)
# Mostra "hello"
print(len(hello))
# Identifica o tamanho da String e mostra “5”
hw = hello + ' ' + world
# Operador “+” concatena Strings
print(hw)
# Mostra "hello world"
hw12 = '%s %s %d' % (hello, world, 12)
# formata como o printf da linguagem C
print(hw12)
# Mostra "hello world 12"
hw12 = '{} {} {}'.format(hello, world, 12)
print(hw12)
# Mostra "hello world 12"
s = "hello"
print(s.capitalize())
# Coloca em maiúsculo o 1a letra e mostra "Hello"
print(s.upper())
# Converte para maiúsculo tudo e mostra "HELLO"
print(s.rjust(7))
# Justifica à direita e mostra "  hello"
print(s.center(7))
# Centraliza e mostra " hello "
print(s.replace('l', '(ell)'))
# troca todos ‘l’ por ‘ell’ e mostra "he(ell)(ell)o"
print(' world '.strip()) # Tira os espaços do início e fim e mostra "world"

hello
5
hello world
hello world 12
hello world 12
Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

**Estruturas de Dados**

*Listas (estrutura mutável):*

In [ ]:
import random
L = [5, 10, 2, 7, 4, 3]
print(L)
L.reverse()
print(L)
L.sort()
print(L)
random.shuffle(L)
print(L)
print(min(L))
print(max(L))
print(sum(L))
print(sum(L) / len(L))
L.append(8)
print(L)
del(L[2])
print(L)

[5, 10, 2, 7, 4, 3]
[3, 4, 7, 2, 10, 5]
[2, 3, 4, 5, 7, 10]
[7, 10, 3, 2, 5, 4]
2
10
31
5.166666666666667
[7, 10, 3, 2, 5, 4, 8]
[7, 10, 2, 5, 4, 8]

In [ ]:
xs = [3, 1, 2, 'texto']
# Cria a lista
print(xs, xs[2])
# Mostra "[3, 1, 2] 2"
print(xs[-1])
# Indices negativos contam a partir do fim da lista e mostra "texto"
xs[2] = 'texto'
# Listas podem ter elementos de tipos diferentes
print(xs)
# Mostra "[3, 1, 'texto']"
xs.append('outro')
# Coloca um novo elemento no fim da lista
print(xs)
# Mostra "[3, 1, 'texto', 'outro']"
x = xs.pop()
# Remove e retorna o ultimo elemento da lista
print(x, xs)
# Mostra "outro [3, 1, 'texto']"
animais = ['gato', 'cachorro', 'macaco']
print(animais)
# A seguir um Loop com a lista animais
for animal in animais:
  print(animal)
# O recurso de Loop (repetição) acima conheceremos na próxima aula

[3, 1, 2, 'texto'] 2
texto
[3, 1, 'texto', 'texto']
[3, 1, 'texto', 'texto', 'outro']
outro [3, 1, 'texto', 'texto']
['gato', 'cachorro', 'macaco']
gato
cachorro
macaco

In [ ]:
l1 = list(range(5))
print('lista 1 = ', l1)
l2 = list(range(3,8))
print('lista 2 = ', l2)
l3 = list(range(2,11,3))
print('lista 3 = ', l3)
l4 = l1 + l2
print('lista 4 = ', l4)
l5 = l3 * 4
print('lista 5 = ', l5)
l6 = [9 , 'texto' , 5.7 , [16, 11 , 18] , "Python" , [7 , 8]]
print('lista 6 = ', l6)
l7 = l6[1:4]
print('lista 7 = ', l7)
l8 = l6[2:]
print('lista 8 = ', l8)
l9 = l6[:4]
print('lista 9 = ', l9)

lista 1 =  [0, 1, 2, 3, 4]
lista 2 =  [3, 4, 5, 6, 7]
lista 3 =  [2, 5, 8]
lista 4 =  [0, 1, 2, 3, 4, 3, 4, 5, 6, 7]
lista 5 =  [2, 5, 8, 2, 5, 8, 2, 5, 8, 2, 5, 8]
lista 6 =  [9, 'texto', 5.7, [16, 11, 18], 'Python', [7, 8]]
lista 7 =  ['texto', 5.7, [16, 11, 18]]
lista 8 =  [5.7, [16, 11, 18], 'Python', [7, 8]]
lista 9 =  [9, 'texto', 5.7, [16, 11, 18]]

*Dicionários:*

In [ ]:
Precos = {'lapis': 5.5, 'borracha': 7.0, 'caneta': 6.5}
print(Precos)
print("o preco da borracha eh:", Precos ['borracha'])
print(Precos.keys())
print(Precos.values())
print('caneta' in Precos)
print('caderno' in Precos)
del Precos['borracha']
print(Precos)

{'lapis': 5.5, 'borracha': 7.0, 'caneta': 6.5}
o preco da borracha eh: 7.0
dict_keys(['lapis', 'borracha', 'caneta'])
dict_values([5.5, 7.0, 6.5])
True
False
{'lapis': 5.5, 'caneta': 6.5}

In [ ]:
d = {'gato': 'cat', 'cachorro': 'dog'}
# Cria um novo dicionário com alguns dados
print(d['gato'])
# Identifica significado de uma entrada e mostra "cat"
print('gato' in d)
# Verifica se uma chave está e mostra "True"
print(d)
d['peixe'] = 'fish'
# Inclui um element em um dicionário
print(d['peixe'])
# Mostra "fish"
print(d['macaco'])
# KeyError: 'macaco' porque não é uma chave do dicionário d
print(d.get('macaco', 'N/A'))
# Busca um elemento com valor default para falha, mostra "N/A"
print(d.get('peixe', 'N/A'))
# Busca um elemento com valor default para falha, mostra "fish"
del d['peixe']
# Remove um element do dicionário
print(d.get('peixe', 'N/A'))
# Busca um elemento com valor default para falha, mostra "N/A"

cat
True
{'gato': 'cat', 'cachorro': 'dog'}
fish
N/A
fish
N/A

**Exercício:** Como poderíamos usar dicionários para internacionalizar (traduzir) um software?

In [ ]:
import os
print(os.getenv('LANG'))
idioma = os.getenv('LANG')[:2]
print(idioma)
strings={'pt' : {'rotulo1' : 'Nome:', 'rotulo2' : 'Endereço:', 'rotulo3' : 'Idade:'} ,
         'en' : {'rotulo1' : 'Name:', 'rotulo2' : 'Address:', 'rotulo3' : 'Age:'} ,
         'es' : {'rotulo1' : 'Nombre:', 'rotulo2' : 'Dirección:', 'rotulo3' : 'Edad:'} }
print(strings[idioma]['rotulo1'])
print(strings[idioma]['rotulo2'])
print(strings[idioma]['rotulo3'])

en_US.UTF-8
en
Name:
Address:
Age:

*Sets (conjuntos):*

Sets são conjuntos não ordenados de elementos (sem repetição)

In [ ]:
animais = {'gato', 'cachorro'}
print('gato' in animais)
# Verifica se um elemento está no set e mostra "True"
print('peixe' in animais)
# Mostra "False"
animais.add('peixe')
# Inclui um elemento no set
print('peixe' in animais)
# Mostra "True"
print(len(animais))
# Identifica o número de elementos do set e mostra "3"
animais.add('gato')
# Incluir um elemento que já existem não faz nada
print(len(animais))
# Mostra "3"
print(animais)
animais.remove('gato')
print(animais)
# Remove um elemento do set
print(len(animais))
# Mostra "2"

True
False
True
3
3
{'gato', 'peixe', 'cachorro'}
{'peixe', 'cachorro'}
2

Outro exemplo de conjuntos:

In [ ]:
profPaulista = {'Menezes', 'Bruno', 'Giocondo'}
profButanta = {'Menezes', 'Nelson', 'Kalili'}
profMooca = {'Nelson', 'Duduchi', 'Gabriela', 'Giocondo'}
profUSJT = profPaulista.union(profButanta, profMooca)
print('Todos os professores da USJT:', profUSJT)
for x in profUSJT:
  print(x)
profPaulistaEButanta = profPaulista.intersection(profButanta)
print('Todos os professores da Paulista e Butantã ao mesmo tempo:', profPaulistaEButanta)
#Como não dá para ordenar um conjunto, vamos copiá-lo para uma lista e aí sim ordená-lo:
listaProfUSJT = list(profUSJT)
listaProfUSJT.sort()
print('Lista ordenada dos professores da USJT: ', listaProfUSJT)
for x in listaProfUSJT:
  print(x)

Todos os professores da USJT: {'Kalili', 'Nelson', 'Gabriela', 'Menezes', 'Giocondo', 'Bruno', 'Duduchi'}
Kalili
Nelson
Gabriela
Menezes
Giocondo
Bruno
Duduchi
Todos os professores da Paulista e Butantã ao mesmo tempo: {'Menezes'}
Lista ordenada dos professores da USJT:  ['Bruno', 'Duduchi', 'Gabriela', 'Giocondo', 'Kalili', 'Menezes', 'Nelson']
Bruno
Duduchi
Gabriela
Giocondo
Kalili
Menezes
Nelson

*Tuplas*

Tuplas são listas que não podem ser alteradas (imutáveis). Em tuplas usamos parênteses “( )”.

In [ ]:
tp1 = (1,2,3,4,5,6)
# Cria uma tupla
print(tp1)
# Mostra a tupla (1, 2, 3, 4, 5, 6)
print(tp1[4])
# Mostra “5”

(1, 2, 3, 4, 5, 6)
5

In [ ]:
d = {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4,
(5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
# Cria dicionários com tuplas como chaves
print(d)
# Mostra todas as tuplas do dicionário
tp2 = (5, 6)
# Cria uma tupla
print(type(tp2))
# Mostra "<class 'tuple'>"
print(d[tp2])
# Mostra "5"
print(d[(1, 2)])
# Mostra "1"

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
<class 'tuple'>
5
1

In [ ]:
d = {(x, x + 1): x for x in range(10)}  # Comprehension
# Cria dicionários com tuplas como chaves
print(d)
# Mostra todas as tuplas do dicionário
# {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4,
# (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
tp2 = (5, 6)
# Cria uma tupla
print(type(tp2))
# Mostra "<class 'tuple'>"
print(d[tp2])
# Mostra "5"
print(d[(1, 2)])
# Mostra "1"

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
<class 'tuple'>
5
1